body {
    margin: 0;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
    -webkit-font-smoothing: antialiased;
}

body, html {
    height: 100%;
    /* letter-spacing: .01rem; */
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.2s;
}
a:focus, a:hover {
    color: #000;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/* a.text-link {
    transition: all 0.2s linear;
}
a.text-link:hover {
    background-color: #ccccff5e;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
} */
a img {
    border: 0;
}
p {
    margin: 0;
}
img, svg {
    width: 100%;
    height: auto;
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: hkgrotesk;
    font-weight: normal;
    src: url("assets/fonts/hkgrotesk/hkgrotesk-light.eot");
    src: url("assets/fonts/hkgrotesk/hkgrotesk-light.eot?") format("eot"), url("assets/fonts/hkgrotesk/hkgrotesk-light.woff") format("woff"), url("assets/fonts/hkgrotesk/hkgrotesk-light.ttf") format("truetype"), url("assets/fonts/hkgrotesk/hkgrotesk-light.svg#svg") format("svg");
}
@font-face {
    font-family: hkgrotesk;
    font-weight: medium;
    src: url("assets/fonts/hkgrotesk/hkgrotesk-regular.eot");
    src: url("assets/fonts/hkgrotesk/hkgrotesk-regular.eot?") format("eot"), url("assets/fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("assets/fonts/hkgrotesk/hkgrotesk-regular.ttf") format("truetype"), url("assets/fonts/hkgrotesk/hkgrotesk-regular.svg#svg") format("svg");
}
@font-face {
    font-family: hkgrotesk;
    font-weight: bold;
    src: url("assets/fonts/hkgrotesk/hkgrotesk-medium.eot");
    src: url("assets/fonts/hkgrotesk/hkgrotesk-medium.eot?") format("eot"), url("assets/fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("assets/fonts/hkgrotesk/hkgrotesk-medium.ttf") format("truetype"), url("assets/fonts/hkgrotesk/hkgrotesk-medium.svg#svg") format("svg");
}
body, input, button {
    color: #000000;
    word-wrap: break-word;
    font-family: 'hkgrotesk', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.01em;  
}
@media screen and (max-width: 767px) {
    body, input, button {
        font-size: 15px;
   }
}
h1 {
    margin: 0;
    font-size: 32px;
    line-height: 140%;
    /* font-weight: bold; */
    font-weight: 400;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
   }
}
h2 {
    margin: 0;
    font-size: 26px;
    line-height: 140%;
    font-weight: normal;
}
@media screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
   }
}
h3 {
    margin: 0;
    font-size: 17px;
    line-height: 140%;
    font-weight: normal;
}
@media screen and (max-width: 767px) {
    h3 {
        font-size: 15px;
   }
}
h4 {
    margin: 0;
    font-size: 17px;
    line-height: 140%;
    font-weight: normal;
}
@media screen and (max-width: 767px) {
    h4 {
        font-size: 15px;
   }
}
b, strong {
    font-weight: normal;
}
header:before {
    content: '';
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 5;
    pointer-events: none;
}
header:after {
    content: '';
    width: 100%;
    height: 160px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 5;
    pointer-events: none;
}
header .menu {
    position: fixed;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    z-index: 8;
    padding: 0 5px 0 15px;
}
@media screen and (max-width: 767px) {
    header .menu {
        bottom: 20px;
   }
}
header .menu:before {
    content: '';
    width: calc(100% + 200px);
    height: calc(100% + 65px);
    position: absolute;
    top: -15px;
    left: -100px;
}
header .menu .source {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    padding: 8px 20px 10px 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.15s ease;
    transform: scale(0.5);
}
header .menu .source span {
    white-space: nowrap;
}
header .menu .filter {
    display: flex;
    transition: all 0.15s ease;
}
header .menu .filter li {
    display: flex;
    /* padding: 8px 10px 12px 10px; */
    padding: 10px 10px;
    transition: all 0.15s ease;
    position: relative;
    cursor: pointer;
}
header .menu .filter li span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -4px;
    opacity: 0;
    -webkit-transform: scale(0) translateX(10px);
    transform: scale(0) translateX(10px);
    transition: all 0.15s ease;
}
header .menu .filter li.all span {
    -webkit-animation: background 26s infinite;
    animation: background 26s infinite;
    transition: background 0.2s linear;
}
@-webkit-keyframes background {
    0% {
        color: #7DADFF;
        background-color: #7DADFF;
   }
    14% {
        color: #F8EA6E;
        background-color: #F8EA6E;
   }
    28% {
        color: #F9805A;
        background-color: #F9805A;
   }
    42% {
        color: #12AE51;
        background-color: #12AE51;
   }
    60% {
        color: #607D8B;
        background-color: #607D8B;
   }
    74% {
        color: #F44336;
        background-color: #F44336;
   }
    100% {
        color: #7DADFF;
        background-color: #7DADFF;
   }
}
header .menu .filter li.active {
    margin-left: 12px;
}
header .menu .filter li.active span {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
}
header .menu .filter:hover li:not(:hover) {
    opacity: 0.5;
}
header .menu .filter:hover li:not(:hover) span {
    background-color: #D8D8D8 !important;
}
header .menu .dark-light {
    width: 20px;
    height: 20px;
    padding: 11px 10px 11px 8px;
    cursor: pointer;
    display: none;
}
header .menu .dark-light:hover {
    opacity: 0.5;
}
header .menu .arrow {
    width: 12px;
    height: 12px;
    padding: 10px 0 11px 0;
    cursor: pointer;
    z-index: 3;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
    -webkit-backface-visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease;
}
header .menu .arrow svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-backface-visibility: hidden;
    transition: all 0.15s ease;
}
header .menu.arrow-hover .filter {
    opacity: 0.5;
}
header .menu.highlight .arrow {
    padding: 10px 15px 11px 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
header .menu.highlight .arrow svg {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* TODO: could animate this a bit nicer with some scaling */
header .menu.highlight .filter {
    opacity: 0;
    /* transform: scale(0.8); */
    display: none;
    /* width: 200px; */
}
header .menu.highlight .source {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    position: relative;
}
header .menu.scroll .arrow {
    padding: 10px 15px 11px 10px;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
}
section.error-404 {
    min-height: 100vh;
    margin-bottom: -140px;
}
section.error-404 h1 {
    text-align: center;
    margin-top: 60px;
}
section.error-404 span {
    font-size: 400px;
    line-height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #f5f5f6;
}


/* CONTENT */
section.content {
    max-width: 560px;
    margin: 25vh auto 20px auto;
    padding: 0 30px;
}
@media screen and (max-width: 767px) {
    section.content {
        margin: 40px auto 20px auto;
   }
}
section.content h1, section.content h2, section.content h3 {
    margin-bottom: 10px;
}
section.content p {
    margin-bottom: 10px;
}
/* section.content a {
    text-decoration: underline;
} */
section.list {
    max-width: 560px;
    margin: 40px auto 0 auto;
    padding: 0 25px;
    transition: all 0.5s ease;
}
section.list.hide {
    opacity: 0;
}
section.list ul {
    padding-right: 40px;
    list-style: none;
    transition: all 0.2s linear;
}
section.list ul:after {
    content: '';
    clear: both;
    display: block;
}
section.list ul .separator {
    width: 100%;
    height: 0;
    display: block;
    float: left;
    position: relative;
}
section.list ul .separator .year {
    width: 54px;
    height: 58px;
    position: relative;
    top: 8px;
    left: calc(100% + 45px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 0.2s ease;
}
section.list ul .separator .title {
    width: auto;
    height: 58px;
    position: relative;
    top: 8px;
    left: calc(100% + 45px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 0.2s ease;
}
section.list ul .separator .month {
    position: relative;
    left: calc(100% + 45px);
    padding: 0 10px 0 4px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /* background-color: white; */
    transition: all 0.2s ease;
    z-index: 1;
}


section.list ul .separator .month:after {
    content: '';
    /* width: 100px; */
    height: 20px;
    position: absolute;
    top: 10px;
    left: 100%;
    background-color: white;
    transition: all 0.2s ease;
}

.no-backgrounds section.list ul .separator .month:after {
    background: transparent !important;
    border-color: transparent !important; /* Optional: makes borders transparent */
}

section.list ul li {
    width: 100%;
    position: relative;
    transition: all 0.2s linear;
}
section.list ul li.hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

/* the grey line connecting to the date */
section.list ul li:before {
    content: '';
    width: calc(100% - 20px);
    height: 1px;
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    top: 14px;
    left: 20px;
    z-index: 1;
    transition: all 0.2s linear;
}
section.list ul.no-line li:before {
    display:none;
    opacity:0;
}

section.list ul li:has(.date):before {

    content: '';
    width: calc(100% - 60px);
    height: 1px;
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    top: 14px;
    left: 20px;
    z-index: 1;
    transition: all 0.2s linear;
}

.no-backgrounds section.list ul li:before {
   opacity: 0 !important;
}


section.list ul li:hover, section.list ul li:active {
    opacity: 1;
}
section.list ul li a {
    width: calc(100% - 18px);
    display: block;
    position: relative;
    padding: 2px 0 2px 18px;
    overflow: hidden;
    z-index: 4;
}
section.list ul li a .title {
    width: 100%;
    display: inline-block;
    position: relative;
    padding-right: 3px;
    transition: all 0.3s linear, opacity 0.2s linear; 

    /* add this so i can remove float:left from section.list ul li a .title h4 without affecting the height */
    overflow: auto; 

    padding-bottom: 12px;
}

/* with a subtitle the padding looks too spaced */
section.list ul li a .title:has(p) {
    padding-bottom: 0px;
}

/* TODO: check if I should eralse this */
@media screen and (max-width: 767px) {
    section.list ul li a .title {
        overflow: scroll;
   }
}
section.list ul li a .title h4 {
    max-width: calc(100% - 48px);
    width: auto;
    display: inline-block;
    position: relative;
    padding-right: 8px;
    z-index: 3;
}
section.list ul li a .title h4 span {
    background-color: #fff;
    padding-right: 2px;
    /* transition: background-color 1s ease-in; */
}
.no-backgrounds section.list ul li a .title h4 span {
    background-color: transparent;
    /* transition: background-color 0.2s ease-in-out; */
 }
section.list ul li a .title h4 span:last-of-type {
    padding-right: 8px;
}


section.list ul li a .title p {
    max-width: calc(100% - 48px);
    opacity: 0.2;
}

/* TODO: check these media */
/* @media screen and (max-width: 767px) {
    section.list ul li a .title h4 {
        height: 32px; 
   }
} */
/* TODO: readd that if theres no p maybe? */
@media screen and (max-width: 767px) {
    section.list ul li a .title h4.overflow {
        padding-right: 200px;
   }
}

/* the dots to the left of the stuff */
section.list ul li a .category {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.15s ease;
}
.camera-icon {
    width: 14px !important;
    height: 14px !important; 
    top: 6px !important;
    /* background-color: transparent; 
    background-image: url('media/camera-icon.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    -webkit-mask-image: url('media/camera-icon.svg');
    mask-image: url('media/camera-icon.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
    left: 0;
    transition: all 0.15s ease;
    
}

/* the dates to the right of the list items */
section.list ul li a .date {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 4;
    transition: all 0.15s linear, opacity 0.2s linear;
}

/* so the line doesnt appear behind the number */
section.list ul li a .date:after {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    /* background-color: #fff; */
    top: 0;
    left: -8px;
    z-index: 1;
    /* transition: all 0.2s linear; */
}
/* .no-backgrounds section.list ul li a .date:after {
    background-color: transparent;
    transition: background-color 0.2s linear;
} */


section.list ul li a .date span {
    position: relative;
    opacity: 0.2;
    z-index: 2;
}
/* TODO: what does this do */
section.list ul li a:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: -12px;
    background-image: url("assets/arrow.svg");
    background-position: center;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-size: 12px;
    background-color: white;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 8px;
    z-index: 4;
    opacity: 0;
    transition: all 0.15s ease;
}

@media screen and (max-width: 767px) {
    section.list ul li a:after {
        display: none;
   }
}
section.list ul li a:hover, section.list ul li a:active {
    border: 0;
    color: #000 !important;
}
/* section.list ul li a:visited {
    opacity: 0.3;
}
section.list ul li.hide {
    opacity: 0.5;
} */
section.list ul:hover .separator h3 {
    color: rgba(0, 0, 0, 0.4);
}
section.list ul:hover li {
    opacity: 0.4;
}
section.list ul:hover li:hover {
    opacity: 1;
}
section.newsletter {
    max-width: 560px;
    margin: 20px auto;
    padding: 0 25px;
}

@-webkit-keyframes background {
    0% {
        color: #7DADFF;
        background-color: #7DADFF;
   }
    14% {
        color: #F8EA6E;
        background-color: #F8EA6E;
   }
    28% {
        color: #F9805A;
        background-color: #F9805A;
   }
    42% {
        color: #12AE51;
        background-color: #12AE51;
   }
    60% {
        color: #607D8B;
        background-color: #607D8B;
   }
    74% {
        color: #F44336;
        background-color: #F44336;
   }
    100% {
        color: #7DADFF;
        background-color: #7DADFF;
   }
}

body.dark {
    background-color: #000;
    color: #D8D8D8;
}
body.dark a {
    color: #D8D8D8;
}

.header-image {
    width: 40%;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    border-radius:50%;
    margin-bottom:40px;
    transition: all 0.5s ease;
}

.background-cover {
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Ensures the image covers the full screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-color: white;
    transition: background-image 1s ease-in-out;
    z-index: -1;
    transition: opacity 0.6s;
}
.background-container {
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Ensures the image covers the full screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    transition: background-image 1s ease-in-out;
    z-index: -2;
    transition: opacity 0.6s;
    overflow: scroll;
}

.background-gallery-image {
    width: 100%;
    height: 100vh;
    /* width: auto; */
    object-fit: cover;
    /* display: inline-block; */
    opacity: 0;
    /* transform: scale(0.8); */
    transition: opacity 0.6s, transform 0.6s;
}

/* Ensure images fade in when they appear */
.background-gallery-image.visible {
    opacity: 1;
    /* transform: scale(1); */
}


/* IMAGE GALLERY */

.flexbox-image-gallery {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: fixed;
    top:0;
    z-index: -5;
    overflow: scroll;
    /* display: none; */
} 
.flexbox-image-gallery .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.flexbox-image-gallery .column {
    flex: calc(25% - 16px);
    max-width: calc(25% - 8px);
    padding: 0 4px;
}
.flexbox-image-gallery .column img {
    margin-top: 8px;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(0.8);
}
  
.flexbox-image-gallery .column img.visible {
    opacity:1;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .flexbox-image-gallery .column {
        flex: calc(50% - 8px);
        max-width: calc(50% - 8px);
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .flexbox-image-gallery .column {
        flex: 100%;
        max-width: 100%;
    }
}

#papers {
    max-height: 600px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
#papers.active { 
    max-height: 2000px;
    mask-image: linear-gradient(to bottom, black 60%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, black 100%);
}
.see-more {
    bottom: 0;
    width: 100%;
    cursor: pointer;
    text-align: center !important;
    position: relative;
    /* background-color: red; */
    /* left: 0; */
    /* top: -50px; */
    /* display:none; */
    /* top: 600px; */
    /* position: absolute; */
}

/* this is janky */
.see-more .arrow-down {
    width: 14px;
    height: 14px;
    transform: translateY(2px);
    transition: all 0.2s linear;
}
.see-more.active .arrow-down {
    transform: translateY(2px) rotate(180deg);
}


.see-more span {
    transition: all 0.2s linear;
}

.see-more:hover .arrow-down {
    transform: translateY(2px) translateX(5px);
}
.see-more.active:hover .arrow-down {
    transform: translateY(2px) rotate(180deg) translateX(-5px);
}
.see-more:hover span {
    padding-right: 5px;
}




.tag {
    display: inline-block;
    /* margin-left: 6px; */
    padding: 2px 8px;
    font-size: 12px;
    background-color: #f2f3f5;
    color: #37352f;
    border-radius: 999px;
    font-weight: 500;
    line-height: 1.3;
    vertical-align: middle;
    white-space: nowrap;
  }
  

.dark-mode .tag {
    background-color: #333;
    color: #d8d8d8;
}






/* DARK MODE START */
/* Dark Mode Styles */
.dark-mode {
    background-color: #191919;
    color: #d4d4d4;
}

.dark-mode a {
    color: #d4d4d4;
}

.dark-mode a:hover, .dark-mode a:focus {
    color: #ffffff;
}

/* .dark-mode a.text-link:hover {
    background-color: rgba(212, 212, 212, 0.3);
} */

.dark-mode body, .dark-mode input, .dark-mode button {
    color: #d4d4d4;
}

.dark-mode header:before {
    background: linear-gradient(-180deg, #191919 0%, rgba(25, 25, 25, 0) 100%);
}

.dark-mode header:after {
    background: linear-gradient(0deg, #191919 0%, rgba(25, 25, 25, 0) 100%);
}

.dark-mode header .menu {
    background-color: rgba(30, 30, 30, 0.97);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.6);
}

.dark-mode section.list ul li:before {
    background-color: #d4d4d4;
    opacity: 0.2;
}

.dark-mode section.list ul li a .title h4 span {
    background-color: #191919;
}

.dark-mode section.list ul li a .date:after {
    background-color: #191919;
}

.dark-mode section.list ul li a:after {
    background-color: #191919;
}

.dark-mode section.list ul:hover .separator h3 {
    color: rgba(255, 255, 255, 0.4);
}

.dark-mode section.list ul:hover li {
    opacity: 0.6;
}

.dark-mode section.list ul:hover li:hover {
    opacity: 1;
}

.dark-mode section.list ul li a:hover, section.list ul li a:active {
    border: 0;
    color: #d4d4d4 !important;
}

.dark-mode .background-cover {
    background-color: #191919;
}

.dark-mode .background-container {
    background-color: #191919;
}

/* Ensure contrast on inputs and buttons */
.dark-mode input, .dark-mode button {
    background-color: #252525;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
}

.dark-mode input::placeholder {
    color: rgba(212, 212, 212, 0.6);
}

.dark-mode button:hover {
    background-color: #303030;
}

/* Ensure hover effects are visible */
.dark-mode .see-more:hover .arrow-down {
    transform: translateY(2px) translateX(5px);
}

.dark-mode .see-more.active:hover .arrow-down {
    transform: translateY(2px) rotate(180deg) translateX(-5px);
}

.dark-mode .see-more:hover span {
    padding-right: 5px;
}

.dark-mode header .menu .arrow svg {
    fill: #d4d4d4; /* Sets the color of the SVG */
}

.dark-mode header .menu .arrow svg path {
    stroke: #d4d4d4; /* Ensures stroke color is also #d4d4d4 if needed */
}

.dark-mode .see-more .arrow-down svg {
    fill: #d4d4d4 !important;
}
.dark-mode .see-more .arrow-down svg path {
    stroke: #d4d4d4 !important;
}



/* header image on small sites */
@media (max-width: 600px) {
    .header-image {
        width: 60%;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius:50%;
        /* margin-bottom:20px; */
        margin-top: 80px;
    }
}

/* mobile */
@media (max-width: 480px) {
    .header-image {
        width: 70%;
    }
    section.content {
        line-height: 21px;
        margin-bottom: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 40px !important;
        max-width: 560px;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
    }

    section.content h1 {
        font-family: hkgrotesk, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        margin-block-end: 10px;
        margin-block-start: 0px;
        margin-bottom: 10px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    section.content p {
        font-family: hkgrotesk, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        margin-block-end: 10px;
        margin-block-start: 0px;
        margin-bottom: 10px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        overflow-wrap: break-word;
    }
}




.theme-toggle {
    position:fixed;
    top:10px;
    right:10px;
    z-index:5;
    height:20px;
    width:auto;
}
.theme-toggle button {
    /* position:relative;
    top:0 !important; */
    background-color:transparent;
    display: inline-block;
    /* background-color:red; */
    border: none;
    width:20px;
    height:20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.theme-toggle button img{
    display:inline-block;
    max-height:20px;
    /* height:100%; */
    /* width:100%;    */
    /* background-color:blue;  */
    padding:0;
    margin-bottom:0;
}

.theme-toggle button {
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

body.light-mode #light-mode,
body.dark-mode #dark-mode {
    opacity: 1;
}

.theme-toggle button:hover {
    opacity: 0.8;   
}

.theme-toggle button:hover {
    background: transparent;
}

/* Invert color in dark mode */
body.dark-mode .theme-toggle img {
    filter: invert(1);
  }
